/* App.css */

.app-title {
  margin-bottom: 20px;
}

/* Create a grid layout for the book collection */
.book-collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
  grid-gap: 20px; /* Gap between grid items */
  justify-items: center; /* Center the items horizontally within each cell */
}
